<div class="container">
  <div class="row">
    <div class="col-4 offset-md-2">
      <%= form_with model: @post, url: posts_path do |f| %>
        <div class="form-group">
          <div class="col-form-label">●写真</div>
          <%= f.file_field "image/*" %>
        </div>
        <div class="form-group">
          <div class="col-form-label">●タイトル</div>
          <%= f.text_field :name %>
        </div>

        <div class="form-group">
          <div class="col-form-label">●投稿について</div>
          <%= f.text_area :introduction %>
        </div>

        <div class="form-group">
          <div class="col-form-label">●タグ</div>
          <%= f.text_area :tag %>
        </div>
        <div class="form-group">
          <div class="col-form-label">●駐車場</div>
          <%= f.radio_button :parking_number, 1 %>
          <%= f.label :parking_number_1, "あり" %>
          <%= f.radio_button :parking_number, 2 %>
          <%= f.label :parking_number_2, "なし" %>
          <%= f.radio_button :parking_number, 3 %>
          <%= f.label :parking_nomber_3, "その他" %>
          <div class="col-form-label">その他を選択した場合</div>
          <%= f.text_field :parking %>
        </div>

        <div class="form-group">
          <div class="col-form-label">●季節</div>
          <%= f.radio_button :season, Post.seasons.key(0) %>
          <%= f.label :season_spring, Post.seasons_i18n[:spring] %>
          <%= f.radio_button :season, Post.seasons.key(1) %>
          <%= f.label :season_summer, Post.seasons_i18n[:summer] %>
          <%= f.radio_button :season, Post.seasons.key(2) %>
          <%= f.label :season_autumm, Post.seasons_i18n[:autumm] %>
          <%= f.radio_button :season, Post.seasons.key(3) %>
          <%= f.label :season_winter, Post.seasons_i18n[:winter] %>
        </div>

        <div class="form-group">
          <div class="col-form-label">●交通手段</div>
          <%= f.radio_button :transportation, Post.transportations.key(0) %>
          <%= f.label :transportation_car, Post.transportations_i18n[:car] %>
          <%= f.radio_button :transportation, Post.transportations.key(1) %>
          <%= f.label :transportation_bike, Post.transportations_i18n[:bike] %>
          <%= f.radio_button :transportation, Post.transportations.key(2) %>
          <%= f.label :transportation_bicycle, Post.transportations_i18n[:bicycle] %>
          <%= f.radio_button :transportation, Post.transportations.key(3) %>
          <%= f.label :transportation_walking, Post.transportations_i18n[:walking] %>
        </div>
      <%end%>
    </div>
  </div>
</div>