<div class="container">
  <div class="row">
    <div class="order-1 order-md-0 col-md-4 mt-3">
      <%= form_with model: @post, url: posts_path do |f| %>
        <div class="form-group row">
          <input id="address" type="textbox">
          <input type="button" value="検索" onclick="codeAddress()">
          <div id="display"></div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <%= f.label :latitude, '選択された緯度' %>
            <%= f.text_field :latitude, class: 'form-control', readonly: true %>
          </div>
          <div class="col-md-6">
            <%= f.label :longitude, '選択された経度' %>
            <%= f.text_field :longitude, class: 'form-control', readonly: true %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-form-label">●写真</div>
          <%= f.file_field "image/*" %>
        </div>
        <div class="form-group">
          <div class="col-form-label">●タイトル</div>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <div class="col-form-label">●投稿についての説明</div>
          <%= f.text_area :introduction, class: "form-control" %>
        </div>

        <div class="form-group">
          <div class="col-form-label">●タグ</div>
          <%= f.text_area :name, value: @tag_list, class: "form-control" %>
        </div>
        <div class="form-group">
          <div class="col-form-label">●駐車場</div>
          <%= f.radio_button :parking, Post.parkings.key(0) %>
          <%= f.label :parking_yes_parking, Post.parkings_i18n[:yes_parking] %>
          <%= f.radio_button :parking, Post.parkings.key(1) %>
          <%= f.label :parking_not_parking, Post.parkings_i18n[:not_parking] %>
        </div>

        <div class="form-group">
          <div class="col-form-label">●季節</div>
          <%= f.radio_button :season, Post.seasons.key(0) %>
          <%= f.label :season_spring, Post.seasons_i18n[:spring] %>
          <%= f.radio_button :season, Post.seasons.key(1) %>
          <%= f.label :season_summer, Post.seasons_i18n[:summer] %>
          <%= f.radio_button :season, Post.seasons.key(2) %>
          <%= f.label :season_autumm, Post.seasons_i18n[:autumm] %>
          <%= f.radio_button :season, Post.seasons.key(3) %>
          <%= f.label :season_winter, Post.seasons_i18n[:winter] %>
        </div>

        <div class="form-group">
          <div class="col-form-label">●交通手段</div>
          <%= f.radio_button :transportation, Post.transportations.key(0) %>
          <%= f.label :transportation_car, Post.transportations_i18n[:car] %>
          <%= f.radio_button :transportation, Post.transportations.key(1) %>
          <%= f.label :transportation_bike, Post.transportations_i18n[:bike] %>
          <%= f.radio_button :transportation, Post.transportations.key(2) %>
          <%= f.label :transportation_bicycle, Post.transportations_i18n[:bicycle] %>
          <%= f.radio_button :transportation, Post.transportations.key(3) %>
          <%= f.label :transportation_walking, Post.transportations_i18n[:walking] %>
        </div>

        <div class="form-group row">
          <%= f.submit "シェア", class: "btn btn-primary btn-sm col-3 " %>
        </div>
      <%end%>
    </div>

    <idv class="order-0 order-md-1 col-md-8 mt-3">
      <div id="map"></div>

      <style>
        #map {
          height: 800px;
          width: 100%;
        }
      </style>

      <script>
        let map
        let geocoder
        const display = document.getElementById('display')

        function initMap(){
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 35.68944, lng:139.69167},
            zoom: 12,
          });

          marker = new google.maps.Marker({
            position: {lat: 35.68944, lng:139.69167},
            map: map
          });

          google.maps.event.addListener(map, 'click', clickEvent);
        }

        function clickEvent(event) {
          marker.setMap(null);
          marker = new google.maps.Marker({
            position: event.latLng,
            map: map
          });

          $('#post_latitude').val(event.latLng.lat());
          $('#post_longitude').val(event.latLng.lng());
        }

        function codeAddress(){
          let inputAddress = document.getElementById('address').value;

          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
          if (status == 'OK') {
            map.setCenter(results[0].geometry.location);
          } else {
              alert('該当する結果がありませんでした：' + status);
            }
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAFTm4C7rY9xYaVyt4MAi7Rs05F6BO38M&callback=initMap" async defer></script>
    </idv>
  </div>
</div>

