<div calss="container">
  <div class= "row">
    <div class="col-12 offset-md-2">
      <%= image_tag @post.image %>
      <%= @post.tag.name %>
      <strong><h4><%= @post.name %></h4></strong>
      <%= @post.introduction %>
      季節：<%= @post.season %>
      駐車場：<%= @post.parking %>
      交通手段：<%= @post.
      
    </div>
  </div>
</div>