<div class="container">
  <div class="row">
    <div class="col-12 offset-md-2">
      <% if @post.user == current_user %>
        <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-success btn-sm mt-3 mb-1" %>
        <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "削除しますか？", class: "btn btn-danger btn-sm mt-3 mb-1" %>
      <%end%>
    </div>
    <div class="col-12 offset-md-2">

      <%= image_tag @post.post_image.variant(resize: '800x600') %><br/>

      <% @post.tags.each do |tag| %>
        <%= tag.name %>
      <%end%>
      <% if @post.favorite?(current_user) %>
        <p>
          <%= link_to post_favorites_path(@post.id), method: :delete do %>
            <span style= "color:yellow">★</span>お気に入りを解除
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to post_favorites_path(@post.id), method: :post do %>
            <span>☆</span>お気に入りに登録
          <% end %>
        </p>
      <% end %>

      <strong><h2><%= @post.name %></h2></strong>
      【説明】<%= @post.introduction %><br/>
      【季節】<%= @post.season_i18n %><br/>
      【駐車場】<%= @post.parking_i18n %><br/>
      【交通手段】<%= @post.transportation_i18n %><br/>
      <%= @post.created_at.strftime('%Y/%m/%d') %>
      <span class="border-bottom"></span>

    </div>
  </div>
  <div class="row">
    <div class="col-12 offset-md-2">
      <strong><h4>コメント一覧</h4></strong>
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td><%= image_tag comment.user.user_image.variant(resize: '35x35'), class: "rounded-circle mb-3 " %></td>
              <td>
                <strong><%= comment.user.account_name %></strong><br>
                 <%= comment.comment %>
                 <%= link_to "削除", post_comment_path(@post, comment), method: :delete %>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>

      <%= form_for [@post, @comment] do |f| %>
        <%= f.text_area :comment, size: "40x5" %>
        <%= f.submit "送信", class: "btn btn-primary" %>
      <%end%>
    </div>
  </div>
</div>