<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="mb-2">
        <%= form_with url: root_path, method: :get, local: true do |f| %>
          <%= f.text_field :name, placeholder: "キーワードを入力してください。", class: "form-control" %>
          <%= f.submit "検索" %>
        <% end %>
      </div>

      <div id="display"></div>
      <div id='map'></div>

      <style>
        #map {
          height: 600px;
          width: 100%;
        }
      </style>

      <script>
        let map
        let geocoder
        const display = document.getElementById('display')

        function initMap(){
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= (@posts.first || Post.take).latitude %>, lng: <%= (@posts.first || Post.take).longitude %> },
            zoom: 12,
          });

          let marker = [];
          let infoWindow = [];

　　　　　<% @posts.each do |post| %>
      　　　　marker[<%= post.id %>] = new google.maps.Marker({
              position:  {lat: <%= post.latitude %>, lng: <%= post.longitude %>},
              map: map,
              title: '<%= post.name %>'
            });
            infoWindow[<%= post.id %>] = new google.maps.InfoWindow({
              position: {lat: <%= post.latitude %>, lng: <%= post.longitude %>},
              content: `<div class="custom-info">
                <div class="custom-info-item name">
                </div>
                <div class="custom-info-item address">
                <%= link_to post_path(post.id) do %>
                  <%= image_tag post.post_image.variant(resize: '150x150^', gravity: "center", crop: "150x150+0+0") %><br/>
                <%end%>  
                <%= post.name %>
                </div>
            </div>`,
              pixelOffset: new google.maps.Size(0, -50)
            })

            //マーカーをクリックしたら情報ウィンドウを開く
            marker[<%= post.id %>].addListener('click', () => {
              infoWindow[<%= post.id %>].open(map);
            });
    　　　　　<% end %>
        }

        function codeAddress(){
          let inputAddress = document.getElementById('address').value;

          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
            if (status == 'OK') {
              map.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
              });
              display.textContent = "検索結果：" + results[ 0 ].geometry.location
            } else {
              alert('該当する結果がありませんでした：' + status);
            }
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAFTm4C7rY9xYaVyt4MAi7Rs05F6BO38M&callback=initMap" async defer></script>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-4">
      <h4><strong>最近追加されたスポット</strong></h4>
    </div>
  </div>

  <div class="row">
    <% @posts.each do |post| %>
        <div class="col-3">
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.post_image.variant(resize: '300x300^', gravity: "center", crop: "200x200+0+0") %>
          <%end%>
        </div>
      <%end%>
  </div>
</div>