<div class="container">
  <div class="row">
    <div class="col-lg-12 offset-md-2 mt-3">
      <table>
        <tr>
          <th>
            <% if @user.user_image.attached? %>
              <%= image_tag @user.user_image.variant(resize: '130x130^', gravity: "center", crop: "110x110+0+0"), class: "rounded-circle mr-3" %>
            <%else%>
              <%= image_tag "no_image.jpeg", size: "150x150", class: "rounded-circle" %>
            <%end%>
          </th>
          <td>
            <strong><h3>アカウント名：<%= @user.account_name %></h3></strong>
            <p class="br2">
            <strong><h4>ユーザー名：<%= @user.user_name %></h4></strong>
            <%= link_to "お気に入り一覧", favorites_path(current_user.id), class: "btn btn-primary btn-sm" %>
          </td>
        </tr>
      </table>
      <%= link_to "プロフィールを編集", users_mypage_edit_path(current_user), class: "btn btn-secondary col-6 btn-sm mt-5 mb-3" %>
    </div>
  </div>

  <p class="br2">

  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-3">
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.post_image.variant(resize: '300x300^', gravity: "center", crop: "200x200+0+0") %>
        <%end%>
      </div>
    <%end%>
  </div>
</div>


<style>
  .br2 {
  border-bottom: 3px solid #999999;
}
</style>